.panel-group.panel-layers-rows.margin-top#layer1-rows(
  role="tablist"
  aria-multiselectable="true"
)
  button.btn.btn-primary.btn-xs.add-layer-row
    span.glyphicon.glyphicon-plus

  .panel.panel-default.layer-row(data-layer-row-number="1")
    .panel-heading(role="tab")
      .pull-right.row-button
        button.btn.btn-danger.btn-xs.delete-layer-row(data-row-name="Row 1")
          span.glyphicon.glyphicon-trash

      h4.panel-title
        a.layer-row-btn(
          data-toggle="collapse"
          data-parent="#layer1-rows"
          href="#layer1-row1"
          aria-expanded="true"
          aria-controls="layer1-row1"
        )
          span.glyphicon.glyphicon-chevron-up.active
          |
          | Row 1

    .panel-collapse.collapse.in#layer1-row1(role="tabpanel")
      .panel-body
        .btn-group.gutter-choices(data-toggle="buttons")
          label.btn.btn-default.btn-xs(
            data-toggle="tooltip"
            title="row-no-gutters"
          )
            input(
              type="checkbox"
              name="gutter"
              autocomplete="off"
            )
            |
            | No gutters
