include layer-row.pug

mixin layer(layersID, layer_num, active=false)
  - var layerID = layersID + "-" + layer_num;

  .panel.panel-default.layer&attributes({'data-layer-number': layer_num})
      .panel-heading(role="tab")
        .pull-right.layer-button
          button.btn.btn-danger.btn-xs.delete-layer(
            data-toggle="tooltip"
            title="Delete Layer"
          )&attributes({'data-layer-name': "Layer " + layer_num})
            span.glyphicon.glyphicon-trash

        h4.panel-title
          a.layer-btn(
            data-toggle="collapse"
            aria-expanded="true"
          )&attributes({
            'data-parent': "#" + layersID,
            'href': "#" + layerID,
            'aria-controls': layerID
          })
            span.glyphicon.glyphicon-chevron-up&attributes({class: active ? "active" : ""})
            |
            | Layer #{layer_num}

      .panel-collapse.collapse(role="tabpanel")&attributes({
        id: layerID,
        class: active ? "in" : ""
      })
        .panel-body
          .btn-group.container-choices(data-toggle="buttons")
            label.btn.btn-default.btn-xs.active(
              data-toggle="tooltip"
              title="container"
            )
              input(
                type="radio"
                name="container"
                autocomplete="off"
              )
              |
              | fixed
            label.btn.btn-default.btn-xs(
              data-toggle="tooltip"
              title="container-fluid"
            )
              input(
                type="radio"
                name="container"
                autocomplete="off"
              )
              |
              | full

          - var rowsID = layerID + "-rows";
          - var DEFAULT_NUM_OF_ROW = 2;

          .margin-top
            button.btn.btn-info.btn-xs.add-layer-row
              span.glyphicon.glyphicon-plus

            .panel-group.panel-layers-rows(
              role="tablist"
              aria-multiselectable="true"
            )&attributes({
              id: rowsID,
              'data-counter': DEFAULT_NUM_OF_ROW
            })
              - var row_num = 1;
              while row_num <= DEFAULT_NUM_OF_ROW
                +layer_row(rowsID, row_num, row_num === 1) // row_num === 1 means open first row
                - row_num++
