mixin layer_row_col(layerRowColParentID, layer_num, row_num, col_num, active=false)
  - var layerRowColID = "layer" + layer_num + "-row" + row_num + "-col" + col_num;

  .panel.panel-default.layer-row-col&attributes({
    'data-layer-row-col-number': col_num
  })
    .panel-heading(role="tab")
      .pull-right.row-button
        button.btn.btn-danger.btn-xs.delete-layer-row-col(
          data-toggle="tooltip"
          title="Delete Col"
        )&attributes({'data-col-name': "Col " + col_num})
          span.glyphicon.glyphicon-trash

      h4.panel-title
        a.layer-row-col-btn(
          data-toggle="collapse"
          aria-expanded="true"
        )&attributes({
          'data-parent': "#" + layerRowColParentID,
          href: "#" + layerRowColID,
          'aria-controls': layerRowColID
        })
          span.glyphicon.glyphicon-chevron-up&attributes({
            class: active ? "active" : ""
          })
          |
          | Col #{col_num}

    .panel-collapse.collapse(role="tabpanel")&attributes({
      'id': layerRowColID,
      class: active ? "in" : ""
    })
      .panel-body
        .dropdown
          button.btn.btn-default.btn-xs.dropdown-toggle(
            type="button"
            id="dropdown-menu"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="true"
          )&attributes({id: "dropdown-menu-" + layerRowColID})
            span.glyphicon.glyphicon-cog
            |
            | Options

          .dropdown-menu&attributes({'aria-labelledby': "dropdown-menu-" + layerRowColID})
            p Hello world
            p Hello world
            p Hello world
            p Hello world
            p Hello world
          //- ul.dropdown-menu&attributes({'aria-labelledby': "dropdown-menu-" + layerRowColID})
            //- li
            //-   a(href="javascript:void(0)") Test 1
            //- li
            //-   a(href="javascript:void(0)") Test 2

        .row
          .col-xs-4
            h4.no-margin-bottom Column
            .col-choices
              .input-group
                .input-group-btn
                  .btn-group(data-toggle="buttons")
                    label.btn.btn-default.btn-xs
                      input(
                        type="checkbox"
                        name="col-xs"
                        autocomplete="off"
                      )
                      |
                      | xs
                input.form-control(
                  type="number"
                  name="col-xs-val"
                  autocomplete="off"
                  min="1"
                  max="12"
                )
              .input-group
                .input-group-btn
                  .btn-group(data-toggle="buttons")
                    label.btn.btn-default.btn-xs
                      input(
                        type="checkbox"
                        name="col-sm"
                        autocomplete="off"
                      )
                      |
                      | sm
                input.form-control(
                  type="number"
                  name="col-sm-val"
                  autocomplete="off"
                  min="1"
                  max="12"
                )
              .input-group
                .input-group-btn
                  .btn-group(data-toggle="buttons")
                    label.btn.btn-default.btn-xs
                      input(
                        type="checkbox"
                        name="col-md"
                        autocomplete="off"
                      )
                      |
                      | md
                input.form-control(
                  type="number"
                  name="col-md-val"
                  autocomplete="off"
                  min="1"
                  max="12"
                )
              .input-group
                .input-group-btn
                  .btn-group(data-toggle="buttons")
                    label.btn.btn-default.btn-xs
                      input(
                        type="checkbox"
                        name="col-lg"
                        autocomplete="off"
                      )
                      |
                      | lg
                input.form-control(
                  type="number"
                  name="col-lg-val"
                  autocomplete="off"
                  min="1"
                  max="12"
                )

          .col-xs-4
            h4.no-margin-bottom Offset
            .col-choices
              .input-group
                .input-group-btn
                  .btn-group(data-toggle="buttons")
                    label.btn.btn-default.btn-xs
                      input(
                        type="checkbox"
                        name="col-xs"
                        autocomplete="off"
                      )
                      |
                      | xs
                input.form-control(
                  type="number"
                  name="col-xs-val"
                  autocomplete="off"
                  min="1"
                  max="12"
                )
              .input-group
                .input-group-btn
                  .btn-group(data-toggle="buttons")
                    label.btn.btn-default.btn-xs
                      input(
                        type="checkbox"
                        name="col-sm"
                        autocomplete="off"
                      )
                      |
                      | sm
                input.form-control(
                  type="number"
                  name="col-sm-val"
                  autocomplete="off"
                  min="1"
                  max="12"
                )
              .input-group
                .input-group-btn
                  .btn-group(data-toggle="buttons")
                    label.btn.btn-default.btn-xs
                      input(
                        type="checkbox"
                        name="col-md"
                        autocomplete="off"
                      )
                      |
                      | md
                input.form-control(
                  type="number"
                  name="col-md-val"
                  autocomplete="off"
                  min="1"
                  max="12"
                )
              .input-group
                .input-group-btn
                  .btn-group(data-toggle="buttons")
                    label.btn.btn-default.btn-xs
                      input(
                        type="checkbox"
                        name="col-lg"
                        autocomplete="off"
                      )
                      |
                      | lg
                input.form-control(
                  type="number"
                  name="col-lg-val"
                  autocomplete="off"
                  min="1"
                  max="12"
                )

          .col-xs-4
            h4.no-margin-bottom Push Pull
            .col-choices
              .input-group
                .input-group-btn
                  .btn-group(data-toggle="buttons")
                    label.btn.btn-default.btn-xs
                      input(
                        type="checkbox"
                        name="col-xs"
                        autocomplete="off"
                      )
                      |
                      | xs
                input.form-control(
                  type="number"
                  name="col-xs-val"
                  autocomplete="off"
                  min="1"
                  max="12"
                )
              .input-group
                .input-group-btn
                  .btn-group(data-toggle="buttons")
                    label.btn.btn-default.btn-xs
                      input(
                        type="checkbox"
                        name="col-sm"
                        autocomplete="off"
                      )
                      |
                      | sm
                input.form-control(
                  type="number"
                  name="col-sm-val"
                  autocomplete="off"
                  min="1"
                  max="12"
                )
              .input-group
                .input-group-btn
                  .btn-group(data-toggle="buttons")
                    label.btn.btn-default.btn-xs
                      input(
                        type="checkbox"
                        name="col-md"
                        autocomplete="off"
                      )
                      |
                      | md
                input.form-control(
                  type="number"
                  name="col-md-val"
                  autocomplete="off"
                  min="1"
                  max="12"
                )
              .input-group
                .input-group-btn
                  .btn-group(data-toggle="buttons")
                    label.btn.btn-default.btn-xs
                      input(
                        type="checkbox"
                        name="col-lg"
                        autocomplete="off"
                      )
                      |
                      | lg
                input.form-control(
                  type="number"
                  name="col-lg-val"
                  autocomplete="off"
                  min="1"
                  max="12"
                )
