include layer-row-col.pug

mixin layer_row(rowsID, row_num, active=false)
  - var rowID = rowsID + "-" + row_num;

  .panel.panel-default.layer-row&attributes({
    'data-layer-row-number': row_num
  })
    .panel-heading(role="tab")
      .pull-right.row-button
        button.btn.btn-danger.btn-xs.delete-layer-row(
          data-toggle="tooltip"
          title="Delete Row"
        )&attributes({'data-row-name': "Row " + row_num})
          span.glyphicon.glyphicon-trash

      h4.panel-title
        a.layer-row-btn(
          data-toggle="collapse"
          aria-expanded="true"
        )&attributes({
          'data-parent': "#" + rowsID,
          href: "#" + rowID,
          'aria-controls': rowID
        })
          span.glyphicon.glyphicon-chevron-up&attributes({
            class: active ? "active" : ""
          })
          |
          | Row #{row_num}

    .panel-collapse.collapse(role="tabpanel")&attributes({
      'id': rowID,
      class: active ? "in" : ""
    })
      .panel-body
        .btn-group.gutter-choices(data-toggle="buttons")
          label.btn.btn-default.btn-xs(
            data-toggle="tooltip"
            title="row-no-gutters"
          )
            input(
              type="checkbox"
              name="gutter"
              autocomplete="off"
            )
            |
            | No gutters

        - var colsID = rowID + "-cols";
        - var DEFAULT_NUM_OF_COL = 2;

        .margin-top
          button.btn.btn-success.btn-xs.add-layer-row-col
            span.glyphicon.glyphicon-plus

          .panel-group.panel-layers-rows-cols(
            role="tablist"
            aria-multiselectable="true"
          )&attributes({
            id: colsID,
            'data-counter': DEFAULT_NUM_OF_COL
          })
            - var col_num = 1;
            while col_num <= DEFAULT_NUM_OF_COL
              +layer_row_col(colsID, col_num, col_num === 1) // col_num === 1 means open first row
              - col_num++
