include layer-row-col.pug

mixin layer_row(layerRowParentID, layer_num, row_num, active=false)
  - var layerRowID = "layer" + layer_num + "-row" + row_num;

  .panel.panel-default.layer-row&attributes({
    'data-layer-row-number': row_num
  })
    .panel-heading(role="tab")
      .pull-right.row-button
        button.btn.btn-danger.btn-xs.delete-layer-row&attributes({
          'data-row-name': "Row " + row_num
        })
          span.glyphicon.glyphicon-trash

      h4.panel-title
        a.layer-row-btn(
          data-toggle="collapse"
          aria-expanded="true"
        )&attributes({
          'data-parent': "#" + layerRowParentID,
          href: "#" + layerRowID,
          'aria-controls': layerRowID
        })
          span.glyphicon.glyphicon-chevron-up&attributes({
            class: active ? "active" : ""
          })
          |
          | Row #{row_num}

    .panel-collapse.collapse(role="tabpanel")&attributes({
      'id': layerRowID,
      class: active ? "in" : ""
    })
      .panel-body
        .btn-group.gutter-choices(data-toggle="buttons")
          label.btn.btn-default.btn-xs(
            data-toggle="tooltip"
            title="row-no-gutters"
          )
            input(
              type="checkbox"
              name="gutter"
              autocomplete="off"
            )
            |
            | No gutters

        - var layerRowColParentID = "layer" + layer_num + "-row" + row_num + "-cols";
        - var DEFAULT_NUM_OF_COL = 2;

        .margin-top
          button.btn.btn-primary.btn-xs.add-layer-row-col
            span.glyphicon.glyphicon-plus

          .panel-group.panel-layers-rows-cols(
            role="tablist"
            aria-multiselectable="true"
          )&attributes({
            id: layerRowColParentID,
            'data-counter': DEFAULT_NUM_OF_COL
          })
            - var n = 1;
            while n <= DEFAULT_NUM_OF_COL
              +layer_row_col(layerRowColParentID, layer_num, row_num, n, n === 1) // n === 1 means open first row
              - n++
