include mixins/layer.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Bootstrap 3 Editor

    // build:css css/app.css
    link(rel="stylesheet" href="./lib/node_modules/bootstrap3/dist/css/bootstrap.min.css")
    link(rel="stylesheet" href="./lib/node_modules/smokejs/dist/css/smoke.min.css")
    link(rel="stylesheet" href="./css/helper.css")
    link(rel="stylesheet" href="./css/app.css")
    // endbuild
  body
    .container-fluid
      .row
        .col-xs-8
          .playground#playground

        .col-xs-4
          .margin-top.margin-right
            .editor#bs3-editor
              .panel.panel-primary
                .panel-heading
                  span.glyphicon.glyphicon-move.move-tool.no-select(style="display: none")

                  .checkbox.pull-right.no-margin-top
                    label.cursor-pointer.no-select
                      input(type="checkbox" name="overlay")
                      | Overlay

                  h1.panel-title.no-select Bootstrap 3 Editor

                .panel-body
                  - var LAYERS_ID = "bs3-ed-layers";
                  - var DEFAULT_NUM_OF_LAYER = 3;

                  button.btn.btn-primary.btn-xs.add-layer
                    span.glyphicon.glyphicon-plus

                  .panel-group.panel-layers(
                    role="tablist"
                    aria-multiselectable="true"
                  )&attributes({
                    id: LAYERS_ID,
                    'data-counter': DEFAULT_NUM_OF_LAYER // number of layer
                  })
                    - var layer_num = 1;
                    while layer_num <= DEFAULT_NUM_OF_LAYER
                      +layer(LAYERS_ID, layer_num, layer_num === 1) // layer_num === 1 means open first layer
                      - layer_num++

    script(type="text/template" id="layer-tmpl")
      .panel.panel-default.layer(data-layer-number!="<%= layer_num %>")
        .panel-heading(role="tab")
          .pull-right.layer-button
            button.btn.btn-danger.btn-xs.delete-layer(
              data-toggle="tooltip"
              title="Delete Layer"
              data-layer-name!="Layer <%= layer_num %>"
            )
              span.glyphicon.glyphicon-trash

          h4.panel-title
            a.layer-btn(
              data-toggle="collapse"
              href!="#bs3-ed-layer<%= layer_num %>"
              aria-expanded="true"
              aria-controls!="bs3-ed-layer<%= layer_num %>"
            )&attributes({
              'data-parent': "#" + LAYERS_ID
            })
              span.glyphicon.glyphicon-chevron-up
              | Layer <%= layer_num %>

        .panel-collapse.collapse(
          id!="bs3-ed-layer<%= layer_num %>"
          role="tabpanel"
        )
          .panel-body <%= layer_content %>

    script(type="text/template" id="layer-row-tmpl")
      .panel.panel-default.layer-row(data-layer-row-number!="<%= row_number %>")
        .panel-heading(role="tab")
          .pull-right.row-button
            button.btn.btn-danger.btn-xs.delete-layer-row(
              data-toggle="tooltip"
              title="Delete Row"
              data-row-name!="Row <%= row_number %>"
            )
              span.glyphicon.glyphicon-trash

          h4.panel-title
            a.layer-row-btn(
              data-toggle="collapse"
              data-parent!="#layer<%= layer_num %>-rows"
              href!="#layer<%= layer_num %>-row<%= row_number %>"
              aria-expanded="true"
              aria-controls!="layer<%= layer_num %>-row<%= row_number %>"
            )
              span.glyphicon.glyphicon-chevron-up
              | Row <%= row_number %>

        .panel-collapse.collapse(
          id!="layer<%= layer_num %>-row<%= row_number %>"
          role="tabpanel"
        )
          .panel-body <%= row_content %>

    script(type="text/template" id="layer-row-col-tmpl")
      .panel.panel-default.layer-row-col(data-layer-row-col-number!="<%= col_number %>")
        .panel-heading(role="tab")
          .pull-right.row-button
            button.btn.btn-danger.btn-xs.delete-layer-row-col(
              data-toggle="tooltip"
              title="Delete Col"
              data-col-name!="Col <%= col_number %>"
            )
              span.glyphicon.glyphicon-trash

          h4.panel-title
            a.layer-row-btn(
              data-toggle="collapse"
              data-parent!="#layer<%= layer_num %>-row<%= row_number %>-cols"
              href!="#layer<%= layer_num %>-row<%= row_number %>-col<%= col_number %>"
              aria-expanded="true"
              aria-controls!="layer<%= layer_num %>-row<%= row_number %>-col<%= col_number %>"
            )
              span.glyphicon.glyphicon-chevron-up
              | Col <%= col_number %>

        .panel-collapse.collapse(
          id!="layer<%= layer_num %>-row<%= row_number %>-col<%= col_number %>"
          role="tabpanel"
        )
          .panel-body <%= col_content %>

    // build:js js/app.js
    script(type="text/javascript" src="./lib/node_modules/jquery/dist/jquery.js")
    script(type="text/javascript" src="./lib/node_modules/bootstrap3/dist/js/bootstrap.min.js")
    script(type="text/javascript" src="./lib/node_modules/underscore/underscore-min.js")
    script(type="text/javascript" src="./lib/node_modules/smokejs/dist/js/smoke.min.js")
    script(type="text/javascript" src="./js/components/Bs3Editor.js")

    script(type="text/javascript" src="./js/smoke-modify.js")
    script(type="text/javascript" src="./js/helper.js")

    script(type="text/javascript" src="./js/app.js")
    // endbuild
